body {
  font-family: 'Avenir', sans-serif;
  font-size: 150%;
  color: #4D4D4D;
}

h1 {
  font-family: 'Georgia', serif;
  text-align: center;
  font-size: 300%;
  color: #102998;
  padding: 0.2em 10%;
}

#logo {
  width: 1.5em;
}

nav {
  background-color: #102998;
  background: linear-gradient(bottom, rgba(255,255,255,0), rgba(247,224,181,1));
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(247,224,181,1));
  background: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(247,224,181,1));
  color: #102998;
  padding: 1em;
  margin: 0 0  0.5em 0;
  text-align: center;
  line-height: 150%;
}

a {
  color: #102998;
  text-decoration: none;
}

#current {
  color: #4D4D4D;
  font-style: italic;
}

a:hover {
  color: #4D4D4D;
}

section {
    padding: 2em 0;
}

h2 {
  background-color: #F7E0B5;
  background: linear-gradient(bottom, rgba(247,224,181,1), rgba(255,255,255,0));
  background: -webkit-linear-gradient(bottom, rgba(247,224,181,1), rgba(255,255,255,0));
  background: -moz-linear-gradient(bottom, rgba(247,224,181,1), rgba(255,255,255,0));
  font-style: italic;
  font-size: 120%;
  color: #102998;
  line-height: 200%;
  padding: 0 2em;
}

.banner {
  height: 15em;
  width: 100%;
}
#banner1 {
  background: url("images/b1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#banner2 {
  background: url("images/b2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#banner3 {
  background: url("images/b3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#banner4 {
  background: url("images/b4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#banner5 {
  background: url("images/b5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
p {
  padding: 2em 5em;
  line-height: 200%;
}

footer {
  font-size: 70%;
  text-align: center;
  line-height: 100%;
  margin: 20px;
}
