body {
  font-family: 'Avenir', sans-serif;
}

h1 {
  font-family: 'Georgia', bold;
  text-align: center;
  font-size: 300%;
  padding-top: 5%;
  padding-bottom: 5%;
  color:
}

nav {
  text-align: center;
}
